<a href="https://colab.research.google.com/github/AnilkumarmMnnem/AnilKumar_INFO5731_Fall2023/blob/main/Mannem_Anil_Kumar_Excersie_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [1]:
# write your answer here
length = float(input("Enter Length of the rectangle :"))
breadth = float(input("Enter Breadth of the rectangle : "))
rectangle_area = length*breadth
print("Area of rectangle : ", rectangle_area)

Enter Length of the rectangle :5
Enter Breadth of the rectangle : 4
Area of rectangle :  20.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [2]:
# write your answer here
a = int(input("Enter 1st number "))
b = int(input("Enter 2nd number "))
a = a+b
b = a-b
a = a-b
print("Numbers after swapping are:", a,",", b)

Enter 1st number 4
Enter 2nd number 2
Numbers after swapping are: 2 , 4

(3) Write a Python program to calculate the length of a string.

In [3]:
# write your answer here
str = input("Enter the string to find its length: ")
print("Length of the string is",len(str))

Enter the string to find its length: Google
Length of the string is 7

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
# write your answer here
str = input("Enter the string: ")
count = {}
for char in str:
    if char in count:
        count[char]+=1
    else:
        count[char]=1
print("character count : {",end="")
for char,count in count.items():
    print(f"'{char}':'{count}'",end="")

print("}",end="")

Enter the string: google.com
character count : {'g':'2''o':'3''l':'1''e':'1''.':'1''c':'1''m':'1'}

(5) Write a Python program to sum all the items in a list.

In [5]:
# write your answer here
str = input("Enter list of numbers")
numbers_list = [int(item) for item in str.split(',')]
total = sum(numbers_list)
print("Sum of all items in a list is: ",total)

Enter list of numbers1,2,3,4,5
Sum of all items in a list is:  15

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [6]:
# write your answer here
str = input("Sample String : ")
first_char = str[0]
result_str = first_char+str[1:].replace(first_char,'$')
print("Expected Result :",result_str)

Sample String : restart
Expected Result : resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [7]:
# write your answer here
number = int(input("Enter a number to find its factorial: "))
fact=1
while(number>0):
    fact*=number
    number-=1
print(fact)

Enter a number to find its factorial: 5
120

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [9]:
# write your answer here
str = input("Enter list of numbers")
numbers_list = [int(item) for item in str.split(',')]
new_list = [item for item in numbers_list if(item%2==0)]
print(new_list)

Enter list of numbers1,2,3,4,5,6,7,8,9
[2, 4, 6, 8]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [10]:
# write your answer here
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
S = 3.14 * pow((1+a/b),3)
print("Output of S is: ",S)

Enter the value of a: 4
Enter the value of b: 2
Output of S is:  84.78

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
expected_result = {}
number_of_dicts = int(input("Enter the number of dictionaries: "))
for i in range(number_of_dicts):
    str = input(f"dic {i + 1} = ")
    input_dict = dict(item.split(":") for item in str.split(","))
    expected_result.update(input_dict)
print("Concatenated dictionary:", expected_result)

Enter the number of dictionaries: 3
dic 1 = 1:10, 2:20
dic 2 = 3:30, 4:40
dic 3 = 5:50, 6:60
Concatenated dictionary: {'1': '10', ' 2': '20', '3': '30', ' 4': '40', '5': '50', ' 6': '60'}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [21]:
# write your answer here
# numbers_tuple = (5, 2, 9, 1, 7)
numbers_tuple = tuple(input("enter tuple"))
print(numbers_tuple)

def find_L_and_S(numbers):
    if not numbers:
        return None, None

    L = S = numbers[0]

    for num in numbers:
        if num > L:
            L = num
        elif num < S:
            S = num

    return L, S

L, S = find_L_and_S(numbers_tuple)
print("Largest:", L)
print("Smallest:", S)

enter tuple52917
('5', '2', '9', '1', '7')
Largest: 9
Smallest: 1

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [27]:
# write your answer here
input_string = input("Enter Text")
def count_char_freq(input_string):
    freq_dict = {}

    for char in input_string:
        if char in freq_dict:
            freq_dict[char] += 1
        else:
            freq_dict[char] = 1

    return freq_dict



char_freq = count_char_freq(input_string)
for char, freq in char_freq.items():
    print(f"Character '{char}' appears {freq} times")

Enter TextMessi is in MLS
Character 'M' appears 2 times
Character 'e' appears 1 times
Character 's' appears 3 times
Character 'i' appears 3 times
Character ' ' appears 3 times
Character 'n' appears 1 times
Character 'L' appears 1 times
Character 'S' appears 1 times

(13) Write a Python program to check whether an element exists within a tuple.

In [4]:
import string
def ele_exists_in_tuple(ele, input_tuple):
    return ele in input_tuple


input_tuple =  tuple(input("Enter elements of the tuple separated by spaces: "))
ele_to_check = input("Enter the element you want to check for: ")

if ele_exists_in_tuple(ele_to_check, input_tuple):
    print(f"The element {ele_to_check} exists in the tuple.")
else:
    print(f"The element {ele_to_check} does not exist in the tuple.")

Enter elements of the tuple separated by spaces: a n i l
Enter the element you want to check for: k
The element k does not exist in the tuple.

(14) Write a Python program to find maximum and the minimum value in a set.

In [49]:
# write your answer here
def find_max_and_min_value(input_set):
    if not input_set:
        return None, None

    max_value = max(input_set)
    min_value = min(input_set)

    return max_value, min_value


input_set = input("Enter Numbers").split(",")
input_values = set(map(int, input_set))
max_value, min_value = find_max_and_min_value(input_values)

if max_value is not None and min_value is not None:
    print("Maximum value:", max_value)
    print("Minimum value:", min_value)
else:
    print("The set is empty.")

Enter Numbers1,2,3,4,5,6
Maximum value: 6
Minimum value: 1

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [55]:
import random

def divide_students_into_groups(studentsList, size_min, size_max):
    random.shuffle(studentsList)

    groups = [[] for _ in range(6)]
    current_group = 0

    for student in studentsList:
        if len(groups[current_group]) < size_max:
            groups[current_group].append(student)
        else:
            current_group += 1
            if current_group >= 6:
                current_group = 0
            groups[current_group].append(student)

    return groups

studentList = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453',
                          'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257',
                          'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597',
                          'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981',
                          'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']


size_min = 4
size_max = 6


groups = divide_students_into_groups(studentList, size_min, size_max)


for i, group in enumerate(groups, start=1):
    print(f"Group {i}: {group}")

Group 1: ['vm0597', 'vkk0022', 'vr0331', 'am2346', 'ag1609', 'gk0257', 'sb1883']
Group 2: ['mg1299', 'sm2364', 'sm2747', 'sc1622', 'sd0926', 'tc0469', 'htn0086']
Group 3: ['dv0310', 'bk0413', 'dt0463', 'sr1508', 'pm0658', 'am2807', 'gm0558']
Group 4: ['gp0306', 'sp2075', 'lp0502', 'sd1268', 'sb1826', 'rm1090', 'mb1296']
Group 5: ['ss2981', 'ab1820', 'ac1770', 'ns0756', 'su0137', 'sm2343', 'mc1453']
Group 6: ['sg1638', 'yr0180', 'mt0825', 'ad1187', 'as2819', 'lb0582']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [64]:
# write your answer here
def get_duplicate_elements(val):
    valuesEntered = set()
    duplicate = set()

    for num in val:
        if num in valuesEntered:
            duplicate.add(num)
        else:
            valuesEntered.add(num)

    if not duplicate:
        print ("-1")
    else:
        print (list(duplicate))

# Get input from the user
inputNumbers = input("Enter elements to check: ").split(",")
arrayOfValues = list(map(int, inputNumbers))

result = get_duplicate_elements(arrayOfValues)

Enter elements to check: 1,2
-1

(17) Write a Python program to select all the Sundays of a specified year.

In [ ]:
# write your answer here
import datetime
year = int(input("Enter the year: "))
current_date = datetime.date(year, 1, 1)
sundays = []
while current_date.year == year:
    if current_date.weekday() == 6:
        sundays.append(current_date)
    current_date += datetime.timedelta(days=1)
print(f"Sundays in {year}:")
for sunday in sundays:
    print(sunday)

Enter the year: 2023
Sundays in 2023:
2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [ ]:
# write your answer here
number = int(input("Enter a number to find its factorial: "))
fact=1
if(number ==1 or number ==0):
    print(fact)
while(number>0):
    fact*=number
    number-=1
print(fact)

Enter a number to find its factorial: 5
120

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [70]:
# write your answer here
def countOfEvenNumbers(n):
    count = 0

    for num in range(1, n + 1):
        if num % 2 == 0:
            count += 1
        elif num > n:
            break

    return count

inputNumber = int(input("Enter a positive integer: "))

if inputNumber <= 0:
    print("enter a positive integer.")
else:
    totalCount = countOfEvenNumbers(inputNumber)
    print("Total count of even numbers from 1 to {inputNumber} :", totalCount)

Enter a positive integer: -13
Please enter a positive integer.

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [2]:
input_Value = input("Enter a string ")

# write your answer here
def getVowelCount(input_Value):
    vowels = 'aeiouAEIOU'
    vowelCounter = 0

    for char in input_Value:
        if char in vowels:
            vowelCounter += 1

    return vowelCounter



vowelCounter = getVowelCount(input_Value)
print(f"The count of vowels in the string is: {vowelCounter}")

Enter a string anil
The count of vowels in the string is: 2